/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("./roboto-v20-latin-regular.eot");
  src: local(""),
    url("././roboto-v20-latin-regular.eot?#iefix") format("embedded-opentype"),
    url("././roboto-v20-latin-regular.woff2") format("woff2"),
    url("./roboto-v20-latin-regular.woff") format("woff"),
    url("./roboto-v20-latin-regular.ttf") format("truetype"),
    url("./roboto-v20-latin-regular.svg#Roboto") format("svg");
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("./roboto-v20-latin-500.eot");
  src: local(""),
    url("./roboto-v20-latin-500.eot?#iefix") format("embedded-opentype"),
    url("./roboto-v20-latin-500.woff2") format("woff2"),
    url("./roboto-v20-latin-500.woff") format("woff"),
    url("./roboto-v20-latin-500.ttf") format("truetype"),
    url("./roboto-v20-latin-500.svg#Roboto") format("svg");
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("./roboto-v20-latin-700.eot");
  src: local(""),
    url("./roboto-v20-latin-700.eot?#iefix") format("embedded-opentype"),
    url("./roboto-v20-latin-700.woff2") format("woff2"),
    url("./roboto-v20-latin-700.woff") format("woff"),
    url("./roboto-v20-latin-700.ttf") format("truetype"),
    url("./roboto-v20-latin-700.svg#Roboto") format("svg");
}
